<!DOCTYPE html>
{%extends 'testapp/base.html'%}
    {%block body_block%}
    <div class="jumbotron">
        <div class="container" align="center">
            <button data-href-template="/pdf" class="btn btn-primary btn-lg"><i class="fa fa-download"></i> Download</button>
            <h1>Student Information</h1>
            {%if list_student%}
                <table border="1">
                    <thead>
                        <th>Student Name</th>
                        <th>Mobile Number</th>
                        <th>Email</th>
                        <th>UserID</th>
                    </thead>
                    {%for student in list_student%}
                        <tr>
                            <td>{{student.name}}</td>
                            <td>{{student.mobile_number}}</td>
                            <td>{{student.email}}</td>
                            <td>{{student.userID}}</td>
                        </tr>
                    {%endfor%}

                </table>
            {%else%}
                <p>No student found</p>
            {%endif%}

        </div>

    </div>

    {%endblock%}